{% extends 'base.html.twig' %}

{% block title %}
    Event Ranking Display
{% endblock %}

{% block body %}
    <div class="main-container">
        <h1>Classement en Direct de la F1</h1>
        <div class="ranking-table">
            {% for index, eventParticipant in eventParticipants %}
                <div class="ranking-row">
                    <div class="position">
                        <span class="rank">#{{ index + 1 }}</span>
                        <span class="name">{{ eventParticipant.participant.name }}</span>
                        <span class="score">(+{{ eventParticipant.score.value }})</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            background: #1b1b1b;
            color: #fff;
        }
        .ranking-table {
            text-align: left;
            width: 50%;
            font-family: 'Arial', sans-serif;
        }
        .ranking-row {
            margin-bottom: 5px;
            animation: fadeIn 0.5s;
        }
        .position {
            background-color: #323232;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid #ccc;
        }
        .rank {
            font-size: 24px;
            font-weight: bold;
            color: #feca57;
        }
        .name {
            flex-grow: 1;
            text-align: center;
        }
        .score {
            font-weight: bold;
            color: #4cd137;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
{% endblock %}
